[Desktop Entry]
Name=Blender 2.79b
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_blender-2.79b_rviz-direct.sh
