[Desktop Entry]
Name=Comsol Multiphysic 6.0
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_comsolmultiphysics-6.0_rviz-direct.sh
