[Desktop Entry]
Name=FreeSurfer 6.0.0
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_freesurfer-6.0.0_rviz-direct.sh
