[Desktop Entry]
Name=HyperView 2017.2
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_2017.2_rviz-direct.sh
