[Desktop Entry]
Name=IDL 8.6.1
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_idl-8.6.1_rviz-direct.sh
