[Desktop Entry]
Name=Mathematica 11
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_mathematica-11_rviz-direct.sh
