[Desktop Entry]
Name=Matlab 2017a
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_matlab-2017a_rviz-direct.sh
