[Desktop Entry]
Name=Matlab 2017b
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_matlab-2017b_rviz-direct.sh
