[Desktop Entry]
Name=Matlab 8.7
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_matlab-8.7_rviz-direct.sh
