[Desktop Entry]
Name=MetaShape 1.8.4
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_metashape-1.8.4_rviz-direct.sh
