[Desktop Entry]
Name=MetaShape 1.6.2
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_metashape-1.6.2_rviz-direct.sh
