[Desktop Entry]
Name=ParaView 5.8.0
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_paraview-5.8.0_rviz-direct.sh
