[Desktop Entry]
Name=ParaView 5.1.0 - OpenFOAM
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_OF-wrapper-5.1.0_rviz-direct.sh
