[Desktop Entry]
Name=ParaView 5.9.1
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_paraview-5.9.1_rviz-direct.sh
