[Desktop Entry]
Name=VMD 1.9.2
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_vmd-1.9.2_rviz-direct.sh
