[Desktop Entry]
Name=Abaqus/CAE 6.13-5
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_abaqus-6.21-6_rviz-slurm.sh
