[Desktop Entry]
Name=Blender 3.1.0
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_blender-3.1.0_rviz-slurm.sh
