[Desktop Entry]
Name=Comsol Multiphysic 6.1
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_comsolmultiphysics-6.1_rviz-slurm.sh
