[Desktop Entry]
Name=Comsol Multiphysic 5.6
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_comsolmultiphysics-5.6_rviz-slurm.sh
