[Desktop Entry]
Name=Fiji 1.53c
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_fiji-1.53c_rviz-slurm.sh
