[Desktop Entry]
Name=IDL 8.8.1
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_idl-8.8.1_rviz-slurm.sh
