[Desktop Entry]
Name=Jupyter Lab
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_jupyter-lab_rviz-slurm.sh
