[Desktop Entry]
Name=Meshlab 1.3.3
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_meshlab-1.3.3_rviz-slurm.sh
