[Desktop Entry]
Name=ParaView 5.5.0 (swr)
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_paraview-5.5.0_rviz-slurm.sh
