[Desktop Entry]
Name=ParaView 5.1.0 - OpenFOAM[32;101;31M
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_OF-wrapper-5.4.1_rviz-slurm.sh
