[Desktop Entry]
Name=PhotoScan 1.4.2
Type=Application
Terminal=false
Exec=/home/bmjl/Development/gfxlauncher/tests/scripts/generated/run_photoscan-1.4.2_rviz-slurm.sh
